@model TeamSettings
@{
    ViewData["Title"] = "TeamSettings";
}

<table class="table table-striped">
    <th class="table-primary" colspan="2">
        <h1>Team settings</h1>
    </th>
    <tr>
        <td>BugsBehavior</td>
        <td>@Model.BugsBehavior</td>
    </tr>
    <tr>
        <td>EpicCategory</td>
        <td>@Model.BacklogVisibilities.EpicCategory</td>
    </tr>
    <tr>
        <td>FeatureCategory</td>
        <td>@Model.BacklogVisibilities.FeatureCategory</td>
    </tr>
    <tr>
        <td>RequirementCategory</td>
        <td>@Model.BacklogVisibilities.RequirementCategory</td>
    </tr>
    <tr>
        <td>DefaultIterationMacro</td>
        <td>@Model.DefaultIterationMacro</td>
    </tr>
    <tr>
        <td>WorkingDays</td>
        <td>@string.Join(",", Model.WorkingDays)</td>
    </tr>
</table>
