@model Repository[]
@{
    ViewData["Title"] = "Repositories";
}

<h1>Repositories</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>DefaultBranch</th>
            <th>ProjectName</th>
            <th>Size</th>
            <th>RemoteUrl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repository in Model)
        {
            <tr>
                <td>@repository.Name</td>
                <td>@repository.Id</td>
                <td>@repository.DefaultBranch</td>
                <td>@repository.Project.Name</td>
                <td>@repository.Size</td>
                <td>@repository.RemoteUrl</td>
            </tr>
        }
    </tbody>
</table>