@model Tuple<Guid, WorkItem[]>
@{
    ViewData["Title"] = "WorkItems";
}

<h1>Work items</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<table class="table table-striped">
    <thead>
        <tr class="table-primary">
            <th>ID</th>
            <th>Title</th>
            <th>AssignedTo</th>
            <th>State</th>
            <th>AreaPath</th>
            <th>ActivityDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workitem in Model.Item2)
        {
            <tr>
                @{ var fields = workitem.Fields; }
                <td>@workitem.Id</td>
                <td>@Html.ActionLink(fields.SystemTitle, "WorkItem", new { projectId = Model.Item1, workitemId = workitem.Id })</td>
                <td>@fields.SystemAssignedTo.DisplayName</td>
                <td>@fields.SystemState</td>
                <td>@fields.SystemAreaPath</td>
                <td>@fields.SystemCreatedDate</td>
            </tr>
        }
    </tbody>
</table>
