@model WorkItem[]
@{
    ViewData["Title"] = "WorkItems";
}

<h1>Work items</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@foreach (var fields in Model.Select(workitem => workitem.Fields))
{
    <table class="table table-striped">
        <thead>
            <tr class="table-primary">
                <th colspan="4">
                    <h2>@fields.SystemTitle</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @{ var assignedTo = fields.SystemAssignedTo; }
                <td>Assigned to</td>
                <td>@assignedTo.DisplayName</td>
                <td>@assignedTo.UniqueName</td>
                <td>
                    <img src="@assignedTo.ImageUrl" alt="@assignedTo.DisplayName" />
                </td>
            </tr>
            <tr>
                <td>Effort</td>
                <td colspan="3">@fields.MicrosoftVSTSSchedulingEffort</td>
            </tr>
            <tr>
                <td>Priority</td>
                <td colspan="3">@fields.MicrosoftVSTSCommonPriority</td>
            </tr>
            <tr>
                <td>Workitem type</td>
                <td colspan="3">@fields.SystemWorkItemType</td>
            </tr>
            <tr>
                <td>Iteration path</td>
                <td colspan="3">@fields.SystemIterationPath</td>
            </tr>
        </tbody>
    </table>
}