@model LoginModel

@{
    ViewData["Title"] = "Clone devops template";
}

<div class="form-container-login">
    <div class="login-message">@ViewBag.LoginMessage</div>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form" }))
    {
        @Html.LabelFor(m => m.OrganizationName)
        @Html.TextBoxFor(m => m.OrganizationName, new { @class = "form-control" })
        @Html.LabelFor(m => m.AccessToken)
        @Html.PasswordFor(m => m.AccessToken, new { @class = "form-control" })
        <button type="submit" class="btn btn-primary form-button">Login</button>
    }
</div>