@model Team
@{
    ViewData["Title"] = "Team";
}
<table class="table table-striped">
    <tr class="table-primary">
        <td colspan="2"><h1>@Model.Name</h1></td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>ProjectName</td>
        <td>@Model.ProjectName</td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("Team settings", "TeamSettings", "TeamSettings", new { projectId = Model.ProjectId, teamId = Model.Id })</td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("Boards", "Boards", "Boards", new { projectId = Model.ProjectId, teamId = Model.Id })</td>
    </tr>
</table>
