@model ViewBoard[]
@{
    ViewData["Title"] = "Boards";
}

<h1>Boards</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@foreach (var board in Model)
{
    <table class="table table-striped">
        <thead>
            <tr class="table-primary">
                <td colspan="@board.Board.Columns.Length"><h2>@board.Board.Name</h2></td>
            </tr>
            <tr>
                @foreach (var column in board.Board.Columns)
                {
                    <th id="name" style='min-width:80px'>@column.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in board.Board.Rows)
            {
                <tr style='background:@row.Color' height="20px">
                    <td colspan="@board.Board.Columns.Length">@row.Name</td>
                </tr>
                <tr height="80px">
                    @foreach (var column in board.Board.Columns)
                    {
                        <td style='background:rgb(230,230,230);padding:10px'></td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div style='margin-bottom:50px'>
        <span style='display: inline-block;'>
            @Html.ActionLink("Card settings", "CardSettings", "Boards", new { projectId = board.ProjectId, teamId = board.TeamId, boardId = board.Board.Id })
        </span>
        <span style='display: inline-block;'>
            @Html.ActionLink("Card styles", "CardStyles", "Boards", new { projectId = board.ProjectId, teamId = board.TeamId, boardId = board.Board.Id })
        </span>
    </div>
}
