@model Rules
@{
    ViewData["Title"] = "Card styles";
}

<h1>Card styles</h1>

<table class="table table-striped">
    <thead>
        <tr class="table-primary">
            <td colspan="5"><h2>@nameof(Model.Fill)</h2></td>
        </tr>
        <tr>
            <th id="name">Name</th>
            <th id="isenabled">IsEnabled</th>
            <th id="filter">Filter</th>
            <th id="titlecolor">TitleColor</th>
            <th id="bgcolor">BackgroundColor</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Fill.Length > 0)
        {
            @foreach (var item in Model.Fill)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.IsEnabled</td>
                    <td>@item.Filter</td>
                    <td style="background-color:@item.Settings?.TitleColor"></td>
                    <td style="background-color:@item.Settings?.BackgroundColor"></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr class="table-success">
                                    <td colspan="5"><h3>Criterias</h3></td>
                                </tr>
                                <tr>
                                    <th id="index">Index</th>
                                    <th id="fieldname">FieldName</th>
                                    <th id="logicaloperator">LogicalOperator</th>
                                    <th id="operator">Operator</th>
                                    <th id="value">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var criteria in item.Clauses)
                                {
                                    <tr>
                                        <td>@criteria.Index</td>
                                        <td>@criteria.FieldName</td>
                                        <td>@criteria.LogicalOperator</td>
                                        <td>@criteria.Operator</td>
                                        <td>@criteria.Value</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">- empty -</td>
            </tr>
        }
    </tbody>
</table>
<div style='margin-bottom:50px'></div>

<table class="table table-striped">
    <thead>
        <tr class="table-primary">
            <td colspan="2"><h2>@nameof(Model.TagStyle)</h2></td>
        </tr>
        <tr>
            <th id="name">Name</th>
            <th id="isenabled">IsEnabled</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TagStyle.Length > 0)
        {
                @foreach (var item in Model.TagStyle)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.IsEnabled</td>
                    </tr>
                }
        }
        else
        {
            <tr>
                <td colspan="2">- empty -</td>
            </tr>
        }
    </tbody>
</table>