@model Project
@{
    ViewData["Title"] = "Project";
}

<table class="table table-striped">
    <th class="table-primary" colspan="2">
        <h1>@Model.Name</h1>
    </th>
    <tr>
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Url</td>
        <td>@Model.Url</td>
    </tr>
    <tr>
        <td>State</td>
        <td>@Model.State</td>
    </tr>
    <tr>
        <td>Revision</td>
        <td>@Model.Revision</td>
    </tr>
    <tr>
        <td>Visibility</td>
        <td>@Model.Visibility</td>
    </tr>
    <tr>
        <td>LastUpdateTime</td>
        <td>@Model.LastUpdateTime</td>
    </tr>
    <tr>
        <td>DefaultTeam.Name</td>
        <td>@Model.DefaultTeam.Name</td>
    </tr>
    <tr>
        <td>Capabilities.ProcessTemplate.TemplateName</td>
        <td>@Model.Capabilities.ProcessTemplate.TemplateName</td>
    </tr>
    <tr>
        <td>Capabilities.Versioncontrol.SourceControlType</td>
        <td>@Model.Capabilities.Versioncontrol.SourceControlType</td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("ProjectProperties", "ProjectProperties", new { projectId = Model.Id })</td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("Iterations", "Iterations", "Iteration", new { projectId = Model.Id })</td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("Areas", "Areas", "Iteration", new { projectId = Model.Id })</td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("Teams", "ProjectTeams", "Team", new { projectId = Model.Id })</td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("Repositories", "ProjectRepositories", "Repository", new { projectId = Model.Id })</td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("Services", "ProjectServices", "Service", new { projectId = Model.Id })</td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("WorkItems", "WorkItems", "WorkItems", new { projectId = Model.Id, projectName = Model.Name })</td>
    </tr>
</table>